<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Hiking club "Pink rabbits"</title>

    {% block styles %}
    {% endblock %}
</head>
<body>
{% if authenticated %}
<div align="right"><a href="/index">Home page</a> <a href="/profile">Profile</a> <a
        href="/logout">Logout</a></div>
{% else %}
<div align="right"><a href="/index">Home page</a> <a href="/signup">Signup</a></div>
{% endif %}
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
    {% for msg in messages %}
    <li>{{msg}}</li>
    {% endfor %}
</ul>

{% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</body>
</html>